<form [formGroup]="profileForm">
  <div class="">
    <!-- <h4>COMPANY PROFILE</h4> -->
    <!--Company INFO -->
    <div class="card border-light">
      <div class="card-header">
        <fa-icon [icon]="faComp"></fa-icon><span> {{"profile.companyinfo" | translate }}</span>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="compName">{{"profile.companyname" | translate }}</label>
            <input type="text" class="form-control"  formControlName="CompanyName">
          </div>
          <div class="form-group col-md-6">
            <label for="dispName">{{"profile.displayname" | translate }}</label>
            <input type="text" class="form-control"  formControlName="DisplayName">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="compReg">{{"profile.compregno" | translate }}</label>
            <input type="text" class="form-control"  formControlName="RegNo">
          </div>
          <div class="form-group col-md-6">
            <label for="dispName">{{"profile.gst" | translate }}</label>
            <input type="text" class="form-control" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="compType">{{"profile.comptype" | translate }}
              <fa-icon [icon]="faCoffee" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></fa-icon>
            </label>
            <dx-select-box 
                [items]="compType"
                formControlName ="CompanyType"
                [showClearButton]="true"
            ></dx-select-box>      
          </div>
          <div class="form-group col-md-6">
            <label for="deliveryType">{{"profile.deliveryType" | translate }}
              <fa-icon [icon]="faCoffee" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></fa-icon>
            </label>
            <dx-select-box 
                [items]="deliveryType"
                formControlName ="DeliveryType"
                [showClearButton]="true"
            ></dx-select-box>           
          </div>
        </div>
      </div>
    </div>
    <!--Company INFO -->

    <!--CONTACT INFO -->
    <div class="card border-light">
      <div class="card-header">
        <fa-icon [icon]="faAddress"></fa-icon><span> {{"profile.contactinfo" | translate }}</span>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="inputAddress">{{"profile.address1" | translate }}</label>
          <input type="text" class="form-control" formControlName="Address1">
        </div>
        <div class="form-group">
          <label for="inputAddress2">{{"profile.address2" | translate }}</label>
          <input type="text" class="form-control" formControlName="Address2">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">{{"profile.city" | translate }}</label>
            <input type="text" class="form-control" formControlName="AddrCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">{{"profile.state" | translate }}</label>
            <dx-select-box 
            [items]="state"
            formControlName ="AddrState"
            [showClearButton]="true"
        ></dx-select-box>      
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">{{"profile.zip" | translate }}</label>
            <input type="text" class="form-control" formControlName="Postcode">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="offPone">{{"profile.officephone" | translate }}</label>
            <input type="text" class="form-control" formControlName="OfficePhone">
          </div>
          <div class="form-group col-md-6">
            <label for="handPhone">{{"profile.mobilephone" | translate }}</label>
            <input type="text" class="form-control" formControlName="Handphone">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="contact">{{"profile.contactperson" | translate }}</label>
            <input type="text" class="form-control" formControlName="ContactPIC">
          </div>
          <div class="form-group col-md-6">
            <label for="faxNo">{{"profile.email" | translate }}</label>
            <dx-text-box mode="email" class="form-control" formControlName="Email"></dx-text-box>
           </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="facebook">{{"profile.facebokurl" | translate }}</label>
            <dx-text-box mode="url" class="form-control" formControlName="Facebook"></dx-text-box>
          </div>
          <div class="form-group col-md-6">
            <label for="website">{{"profile.compwebsite" | translate }}</label>
            <dx-text-box mode="url" class="form-control" formControlName="Website"></dx-text-box>
           </div>
        </div>
      </div>
    </div>
    <!--CONTACT INFO -->

    <!--MAP Location -->
    <div class="card border-light">
      <div class="card-header">
        <fa-icon [icon]="faMap"></fa-icon><span> {{"profile.maplocation" | translate }}</span>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="longitude">{{"profile.longitude" | translate }}</label>
            <input type="number" class="form-control" formControlName="Longitude">
          </div>
          <div class="form-group col-md-6">
            <label for="latitude">{{"profile.latitude" | translate }}</label>
            <input type="number" class="form-control" formControlName="Latitude">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="locmap">{{"profile.maplocation" | translate }}</label>
            <agm-map id="locmap" [latitude]="lat" [longitude]="lng">
              <agm-marker (dragEnd)="onDragEnd($event)" (markerClick)="markerClick($event)" [markerDraggable]="true" [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
    <!--MAP Location -->

    <!--Note -->
    <div class="card border-light">
      <div class="card-header">
        <fa-icon [icon]="faInfo"></fa-icon><span> {{"profile.note" | translate }}</span>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="aboutUs">{{"profile.aboutus" | translate }}
            <i>
              <small class="form-text text-danger">{{"profile.max1000" | translate }}</small>
            </i>
          </label>
          <textarea type="text" class="form-control" formControlName="AboutUs">
          </textarea>
        </div>
        <div class="form-group">
          <label for="term">{{"profile.term" | translate }}
            <i>
              <small class="form-text text-danger">{{"profile.max500" | translate }}</small>
            </i>
          </label>
          <textarea type="text" class="form-control" formControlName="TermAndCond">
          </textarea>
        </div>
        <div class="form-group">
          <label for="remark">{{"profile.remark" | translate }}
            <i>
              <small class="form-text text-danger">{{"profile.max200" | translate }}</small>
            </i>
          </label>
          <textarea type="text" class="form-control" formControlName="Remarks">
          </textarea>
        </div>
      </div>
    </div>
    <hr>
    <!--Note -->
    <div class="row" *ngIf="errmsg">
      <div class="col">
          <div class="alert alert-danger" role="alert">
             {{errmsg}}}
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <button type="button" (click)="SaveProfile()" 
          class="btn btn-outline-info btn-block">
          <fa-icon [icon]="faSave"></fa-icon> {{"profile.updateprofile" | translate }}</button>
      </div>
    </div>
    
  </div>
  <br>
  <br>
</form>
