<div class="row">

  <div class="col">
    <div class="card text-center border-secondary " [ngClass]="'cardwidth'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            FEATURE
          </div>
          <div class="col-3">
            <img class="float-left blink" src="../../{{imgUrl}}/offer.png" width="40px" height="40px" alt="shoe">
          </div>
        </div>
      </div>
      <img src="../../{{imgUrl}}/shoe.jpg" alt="shoe">
      <div class="row">

        <div class="col">
          RM 200.00
        </div>
      </div>
      <div class="card-body">
        <p class="card-text lead text-white bg-danger blink">Buy one free 1!</p>
        <div class="card-title">CLOUDFOAM RACER TR SHOES</div>

        <p class="card-text">nspired by outdoor trail runners. These modern shoes are made for urban adventures, with a nylon build and rubber
          outsole inserts. The cloudfoam inside adds long-lasting comfort.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>

    </div>
  </div>
 
  <div class="col">
    <div class="card text-center border-secondary " [ngClass]="'cardwidth'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            FEATURE
          </div>
          <div class="col-3">
            <img class="float-left blink" src="../../{{imgUrl}}/offer.png" width="40px" height="40px" alt="shoe">
          </div>
        </div>
      </div>
      <img src="../../{{imgUrl}}/shoe.jpg" alt="shoe">
      <div class="row">

        <div class="col">
          RM 200.00
        </div>
      </div>
      <div class="card-body">
        <p class="card-text lead text-white bg-danger blink">Buy one free 1!</p>
        <div class="card-title">CLOUDFOAM RACER TR SHOES</div>

        <p class="card-text">nspired by outdoor trail runners. These modern shoes are made for urban adventures, with a nylon build and rubber
          outsole inserts. The cloudfoam inside adds long-lasting comfort.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>

    </div>
  </div>

  <div class="col">
    <div class="card text-center border-secondary " [ngClass]="'cardwidth'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            FEATURE
          </div>
          <div class="col-3">
            <img class="float-left blink" src="../../{{imgUrl}}/offer.png" width="40px" height="40px" alt="shoe">
          </div>
        </div>
      </div>
      <img src="../../{{imgUrl}}/shoe.jpg" alt="shoe">
      <div class="row">

        <div class="col">
          RM 200.00
        </div>
      </div>
      <div class="card-body">
        <p class="card-text lead text-white bg-danger blink">Buy one free 1!</p>
        <div class="card-title">CLOUDFOAM RACER TR SHOES</div>

        <p class="card-text">nspired by outdoor trail runners. These modern shoes are made for urban adventures, with a nylon build and rubber
          outsole inserts. The cloudfoam inside adds long-lasting comfort.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>

    </div>
  </div>

  <div class="col">
    <div class="card text-center border-secondary " [ngClass]="'cardwidth'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            FEATURE
          </div>
          <div class="col-3">
            <img class="float-left blink" src="../../{{imgUrl}}/offer.png" width="40px" height="40px" alt="shoe">
          </div>
        </div>
      </div>
      <img src="../../{{imgUrl}}/shoe.jpg" alt="shoe">
      <div class="row">

        <div class="col">
          RM 200.00
        </div>
      </div>
      <div class="card-body">
        <p class="card-text lead text-white bg-danger blink">Buy one free 1!</p>
        <div class="card-title">CLOUDFOAM RACER TR SHOES</div>

        <p class="card-text">nspired by outdoor trail runners. These modern shoes are made for urban adventures, with a nylon build and rubber
          outsole inserts. The cloudfoam inside adds long-lasting comfort.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>

    </div>
  </div>

</div>
